<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Document</title>
   
</head>
<body ng-app="app">
    

    <div ng-controller="mainController" class="tree">
      
        <ul>
            <li ng-repeat="tree in treeData" ng-click="tree.show = !tree.show">
              <p><i class="fas fa-caret-right"></i>
                {{tree.name}}</p>  
                <ul ng-show="tree.show">
                    <li ng-repeat="children in tree.children" ng-click="$event.stopPropagation();children.show = !children.show">
                      <p><i class="fab fa-html5 blue" ng-if="children.name.endsWith('html')"></i>
                        <i class="fas fa-hashtag red" ng-if='children.name.endsWith("css")'></i>
                        <i class="fab fa-js yellow" ng-if='children.name.endsWith("ts")'></i>
                          {{children.name}} </p>   
                        <ul ng-show= "children.show">
                            <li ng-repeat="child in children.children" ng-click="child.show =!child.show">
                              <p>  <i class="fab fa-html5 blue" ng-if="child.name.endsWith('html')"></i>
                                <i class="fas fa-hashtag red" ng-if='child.name.endsWith("css")'></i>
                                <i class="fab fa-js yellow" ng-if='child.name.endsWith("ts")'></i>
                                  {{child.name}}</p>     
                                
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
      
    </div>


    <script src="tree.js"></script>
</body>
</html>